<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>About of</h3>
            <p>I am a developer dedicated to providing web solutions.</p>
        </div>
        <div class="footer-section">
            <h3>Links</h3>
            <ul>
                <li><a class="pointer" (click)="onHomeClick()"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a class="pointer" (click)="onBlogClick()"><i class="fa-solid fa-briefcase"></i> Blog</a></li>
                <li><a href="mailto:juanabdiel56@gmail.com"><i class="fa-solid fa-envelope"></i> Contact</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Follow me</h3>
            <div class="social-icons">
                <a href="https://discord.com/users/abdielco" target="_blank"><i class="fa-brands fa-discord"></i></a>
                <a class="pointer"><i class="fa-brands fa-threads"></i></a>
                <a href="https://github.com/AbdielFco" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a class="pointer"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <!-- <p class="footer-copy">© 2024 My Website - All rights reserved.</p> -->
    <p class="footer-copy">© 2024 AbdielFco Website.</p>
</footer>
