<div class="centered-container">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div class="container rounded">
        <div class="left rounded">
            <img [src]="images.bgLogin" alt="Background" class="bg rounded">
        </div>
        <div class="right rounded">
            <div class="logo-container">
                <img [src]="images.angularIcon" alt="Angular Logo" class="icon">
                <span class="f-1">Bloggy</span>
            </div>
            <h3 class="f-p welcome">Nice to see you again!</h3>

            <form (ngSubmit)="login()" class="form-container f-5">
                <label>Login</label>
                <input id="email" [(ngModel)]="sesion.email" name="email" type="text" class="input rounded" placeholder="Enter email" required>
                <label>Password</label>
                <input id="pwd" [(ngModel)]="sesion.password" name="pwd" type="password" class="input rounded" placeholder="Enter password" required>

                <div class="options"></div>

                <button class="f-p btn primary-btn">Sign in</button>
                <hr class="sep">
            </form>
<!-- 
            <button class="f-p btn secondary-btn">
                <img [src]="images.googleIcon" alt="Google Icon" class="icon-google">
                <span>Or sign with Google</span>
            </button> -->

            <div class="f-5 register-container">
                <span>Don't you have an account?</span>
                <a (click)="onCreateAccount()" class="link">Sign up now</a>
            </div>
        </div>
    </div>
</div>